<% @user.errors.full_messages.each do |message| %>
  <div class="alert-box warning" data-alert>
    <%= message %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<%= render "flash" %>
<div class="col-sm-offset-3 col-sm-6">
  <h2>Sign Up</h2>
  <%= form_for @user, url: "/signup", method: "post", class: "form-horizontal" do |f| %>
    <div class="form-group control-group">
      <label>Preferred Name</label>
      <div class="controls">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group control-group">
      <label>Email</label>
      <div class="controls">
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <p class="help-block">
        This email address will be exposed to authenticated
        users so they may contact you regarding your listings.</p>
    </div>
    <div class="form-group control-group">
      <label>Password</label>
      <div class="controls">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <%= f.submit "Sign Up", class: "btn btn-small btn-primary" %>
  <% end %>
  <br>
  <span>Already have an account? <a href="/login">Log in</a>.</span>
</div>
