<table class='table'>
  <thead>
    <th>Book</th>
    <% unless defined? hide_seller and hide_seller %>
      <th>Seller</th>
    <% end %>
    <th>Last Updated</th>
    <th>Price</th>
  </thead>
  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= link_to listing.book.title, listing.book %></td>
        <% unless defined? hide_seller and hide_seller %>
          <td><%= link_to listing.user.name, listing.user %></td>
        <% end %>
        <td><%= time_ago_in_words listing.updated_at %> ago</td>
        <td>
          <%= mail_to listing.user.email, :class => 'btn btn-default btn-xs', :type => 'button' do %>
            <%= number_to_currency(listing.price) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

