<div class="row">

<div class="col-sm-12">
  <h3>Showing results for '<%= params[:q] %>'</h3>
  <hr>
</div>

<div class="col-sm-9">
  <h4>Books</h4>
  <%= render "shared/books_row" %>
</div>

<div class="col-sm-3">
  <ul class="nav nav-pills nav-stacked">
    <li><%= link_to "All", search_path(utf8: params[:utf8], q: params[:q]) %></li>
    <li><%= link_to "Listings", listings_path(utf8: params[:utf8], q: params[:q]) %></li>
    <li><%= link_to "Books", books_path(utf8: params[:utf8], q: params[:q]) %></li>
  </ul>
</div>

</div>
